:root {
  --color-blue: #023c88;
  --color-blue-lighter-1: #00b3d6;
  --color-blue-lighter-2: #49cae4;
  --color-gray-light: #f9fafb;
  --color-gray-dark: #e9ecef;
  --section-padding: clamp(4rem, 10vw, 12rem) 0rem;
  --two-col-layout: 2;
  --three-col-layout: 3;
}
@media only screen and (max-width: 56.25em) {
  :root {
    --two-col-layout: 1;
  }
}
@media only screen and (max-width: 59em) {
  :root {
    --three-col-layout: 2;
  }
}
@media only screen and (max-width: 37.5em) {
  :root {
    --three-col-layout: 1;
  }
} 
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/*Navigation header */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  background: url(images/seashore.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
}

.header-nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo{
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.navbar a{
  position: relative;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navbar a::before{
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: .3s;
}

.navbar a:hover::before{
  width: 100%;
}

/* Search Box */
.header{
  min-height: 100vh;
  padding-top: 7rem;
  flex-direction: column;
  color: #fff;
  text-align: center;
}

.container{
  max-width: 1320px;
  padding: 0 1rem;
  margin: 0 auto;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .container {
  max-width: clamp(50rem, 85vw, 114rem);
  height: 100%;
  padding: 0 2.4rem;
  margin: 0 auto;
}

.section-search {
  padding: 0 2.4rem;
}

.search-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 3rem;
  align-items: flex-end;
  padding: 5rem 2.4rem 6rem 2.4rem;
  border-radius: 5rem;
  background-color: var(--color-gray-light);
  margin-top: -5rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.search-box .btn {
  align-self: flex-end;
}

.btn {
  text-transform: capitalize;
  padding: 1.3rem;
  border-radius: 4px;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: var(--color-blue-lighter-2);
  color: #000;
  border: none;
  transition: background-color 0.4s;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--color-blue-lighter-1);
}
.btn--drop-shadow {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}
.btn--secondary {
  border: 1.5px solid var(--color-blue-lighter-2);
  background-color: transparent;
}

input[type='text'] {
  padding: 1.3rem 2.5rem;
  border-radius: 4px;
  font-family: inherit;
  font-size: 1.6rem;
  background-color: #fff;
  color: #000;
  border: none;
  width: 100%;
}
input[type='text']:focus {
  outline: none;
}

.custom-date {
  position: relative;
  margin-top: 1rem;
}
.custom-date .calender-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
  height: 100%;
  background-color: var(--color-gray-dark);
  border: 1px solid var(--color-blue-lighter-2);
  padding: 1rem;
  pointer-events: none;
}
.custom-date input[type='date'] {
  padding: 0.8rem;
  border-radius: 4px;
  font-family: inherit;
  font-size: inherit;
  background-color: var(--color-gray-light);
  border: 1px solid var(--color-blue-lighter-2);
  cursor: pointer;
  line-height: inherit;
  outline: none;
  width: 100%;
}

.custom-select {
  position: relative;
  margin-top: 1rem;
}
.custom-select select {
  background-color: var(--color-gray-light);
  border: 1px solid var(--color-blue-lighter-2);
  padding: 1rem;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  line-height: inherit;
  outline: none;
}
.custom-select .arrow {
  background-color: var(--color-gray-dark);
  border: 1px solid var(--color-blue-lighter-2);
  width: 5rem;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}
.custom-select .arrow::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1rem solid var(--color-blue-lighter-2);
}
